<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>评论中心</h2>
<%= render @article.comments %>

<h2>增加一条新评论:</h2>
<%= render 'comments/form' %>

<h1>但愿你的眼睛只看到笑容</h1>
